.wrapper {
  width: 300px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: azure;
  margin: 50px auto;
}
.wrapper_user {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.img {
  margin-top: 20px;
  width: 150px;
  border-radius: 50%;
  background-color: gray;
}
.name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}
.tag {
  color: gray;
}
.location {
  color: gray;
  margin-bottom: 10px;
}
.list {
  border-top: 2px solid grey;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(212, 208, 208);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 10px;
  gap: 4px;
  &:not(:last-child) {
    border-right: 2px solid grey;
  }
}

.title {
  font-size: 18px;
  font-weight: 400;
}
.number {
  font-size: 18px;
  font-weight: 700;
}
