.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.table {
  width: 400px;
  border-collapse: collapse;
}
.list_h,
.list_w:nth-child(odd) {
  background-color: #c4bdbd;
}

.list_h,
.list_w:nth-child(odd) {
  background-color: #e2dfdf;
}
.item_h {
  background-color: #0f0e0e;
  color: wheat;
}
.item_h,
.item_w {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
